/* Module.scss */

nav[role="navigation"]{
    position: absolute;
    right: 10px;
    top: 10px;
}

.equal-height-info {
    column-count: 1;
    column-gap: 10px;
}


.main-about-text p:first-of-type{
    margin-top: 20px;
}

.main-about-text p:last-of-type{
        margin-bottom: 0;
}


.contentinfo {
    background-color: black;
    color: #fff;
}

.contact-info {
    
}

.banner-headline {
    text-shadow: 1px 1px 1px #000;
    
}

