/* Module.scss */

nav[role="navigation"]{
    position: absolute;
    right: 10px;
    top: 10px;
}

.main-portraits{
    padding-top: 20px
}

.main-about-text{
    padding-left: 0px;
    padding-top: 0px;
}

.contentinfo {
    background-color: black;
    color: #fff;
}

.link-text{
    color: aliceblue;
}